body{
    background-color: rgb(246, 248, 249);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: white;
}

main{
    background-color: white;
    text-align: left;
    
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
}

li{
    margin: 10px 0px;
}

span{
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

#logo{
    margin: 15px 0px 0px 15px;
    align-items: center;
}

#testo_logo{
    display: inline-block;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#gestione{
    padding: 15px 50px;
    text-align: left;
    /* border-color: rgb(246, 248, 249); */
}

#todo_list{
    padding: 15px 30px;
}

.editorial{
    background-color: rgb(69, 171, 234);
}

.q1_goals{
    background-color: rgb(156, 114, 228);
}

.recruiting{
    background-color: rgb(100, 192, 169);
}

.mobile{
    background-color: rgb(242, 158, 51);
}

.website{
    background-color: rgb(216, 99, 161);
}

.sales{
    background-color: rgb(176, 201, 38);
}

.fatto{
    /* fare in modo che il bordo sembri un cerchio */
    /* colorare lo span in cui è dentro la spunta di verde */
    /* bordo di 1px dello stesso colore */
}
.da_fare{
    /* fare in modo che il bordo sembri un cerchio */
    /* colorare lo span in cui è dentro la x di rosso */
    /* bordo di 1px dello stesso colore */
}