body{
    background-color: rgb(246, 248, 249);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: white;
}

main{
    text-align: left;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

ul{
    list-style-type: none
}

li{
    margin: 20px 0px;
}

#logo{
    margin: 15px 0px 0px 15px;
    align-items: center;
}

#testo_logo{
    display: inline-block;
    vertical-align: middle;
    margin-top: -35px;
    margin-bottom: 10px;
}

#gestione{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 50px;
    text-align: left;
    border-top-right-radius: var(raggio);
    border-color: rgb(246, 248, 249);
    margin-bottom: 2px;
}

#add_task{
    background-color: rgb(69, 171, 234);
    color: white;
    font-size: 19px;
    padding: 5px 6px;
    border: 0px;
    border-radius: 5px;
}

#add_section{
    background-color: white;
    color: rgb(196, 202, 207);
    font-size: 19px;
    padding: 4px 5px;
    border: 1px;
    border-style:solid;
    border-color: rgb(196, 202, 207);
    border-radius: 5px;
}

#todo_list{
    background-color: white;
    padding: 15px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 2px;
}

.editorial{
    background-color: rgb(69, 171, 234);
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

.q1_goals{
    background-color: rgb(156, 114, 228);
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

.recruiting{
    background-color: rgb(100, 192, 169);
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

.mobile{
    background-color: rgb(242, 158, 51);
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

.website{
    background-color: rgb(216, 99, 161);
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

.sales{
    background-color: rgb(176, 201, 38);
    color:white;
    font-size: 11px;
    border-radius: 10px;
    padding: 5.9px 10px;
}

.fatto{
    color: green;
    padding: 5px 7px;
    border-radius: 50%;
    border: 2px solid green;
    margin-right: 10px;
    /* fare in modo che il bordo sembri un cerchio */
    /* colorare lo span in cui è dentro la spunta di verde */
    /* bordo di 1px dello stesso colore */
}
.da_fare{
    color: red;
    padding: 5px 7px;
    border-radius: 50%;
    border: 2px solid red;
    margin-right: 10px;
    /* fare in modo che il bordo sembri un cerchio */
    /* colorare lo span in cui è dentro la x di rosso */
    /* bordo di 1px dello stesso colore */
}

